body
{
    background-color:#BFDFA9;
   
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px;
           background-image: url('bg.jpg');
     }
     #wrapper {
           width: 80%;
           margin: 100px auto 0px auto;
           padding: 20px 20px 20px 20px;

    <div id="wrapper">
      <!-- all your page content in here -->
    </div>

</body>
}

{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h3
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p1
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p5
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;

}
img{
    border-color: #224D06;
}


