body
{
    background-color:#BFDFA9;
    
    <style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>

<div class="content">
  <!-- Page content -->
</div>

</body>

</body>
}

{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h3
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p1
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p5
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;

}
img{
    border-color: #224D06;
}


