body
{
    background-color:#BFDFA9;
    margin-top: 300px;
}

{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h3
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
h4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p1
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p4
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}
p5
{
    font-family:Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;

}
img{
    border-color: #224D06;
}


