.flex-container
{
    display:flex;
    align-items:space-evenly;
    justify-content:space-evenly;
    background-color:#ffd1dc;
}
.flex-rat one
{
    flex:1;
    border:5px solid #ffdae0;
    background-color:#FDF2E1,
}
.flex- rat two
{
    border:5px solid #ffdae0;
    margin-right:20px;
    background-color:#FDF2E1;
}

