
wrapper
{
    position: absolute;
    top: 20px;
}
header {

}
.center
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
    position: relative;
}
img
{
    width:200px;
    border:30px solid;
    border-color: #224D06;
}
.someHeader {
    height: 50px;
}
