.navbar {
    list-style-type: none;
    margin:0;
    padding: 0; 
    background-color: #224D06; 
    position: fixed;
    top: 0; 
    width: 100%;
    overflow: hidden;
    margin: 0;

}
.navbar li{
    float: left;
}
.navbar li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color:#62A137; 
}

