

.flex-container {
    display: flex;
    align-items:space-evenly;
    justify-content:space-evenly;
    background-color: #FFFEF7 ;
}

.flex-frog {
    align-items:space-evenly;
    justify-content:space-evenly;
    flex: 1;
    border: 5px solid;
    border-color: #224D06;
    background-color:  #FFFEF7 ;
}

.flex-child:first-frog {
    align-items:center;
    justify-content: center;
    margin-right: 20px;
    background-color:  #FFFEF7;
}

